<div class="d-flex flex-wrap align-items-center justify-content-center" style="height: 80vh; gap: 2rem">

    @foreach (var loop in Model)
    {
        <div class="col-md-2 col-sm-2 p-3">
            <a href="@Url.Action("Index", "Route", new { loopId = loop.Id })" class="btn btn-primary w-100" style="background-color: @loop.Name">
                @loop.Name
            </a>
        </div>
    }
</div>