@model IEnumerable<BusManagementSystem.Models.Loop>

@{
    ViewData["Title"] = "Loops";
    <link rel="stylesheet" href="~/css/loop_index.css"/>
}

<div>
    <div id="loop-index-header">
        <h1>Loops</h1>
        <a class="btn btn-primary" asp-action="Create">Create New Loop</a>
    </div>
    <hr id="separator">
    <form id="deleteForm" asp-action="Delete" method="post">
        <table id="loop-table" class="table table-striped">
            <thead>
            <tr>
                <th>Loop</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var loop in Model)
            {
                <tr>
                    <td>@loop.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@loop.Id">Edit</a> |
                        <asp:Button UseSubmitBehavior="false" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteLoopModal_@loop.Id" runat="server">Delete</asp:Button>
                    </td>

                    <div class="modal fade" id="deleteLoopModal_@loop.Id" tabindex="-1" aria-labelledby="deleteLoopModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title fs-5" id="deleteLoopModalLabel">Delete Loop</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Permanently delete loop @loop.Name from the database?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-route-loopId="@loop.Id">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </tr>
            }
            </tbody>
        </table>
    </form>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="./js/bus_actions.js"></script>
}